@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@
@{Html.RenderPartial("Breadcrumb");}

@Umbraco.Field("homeTitle")
@Umbraco.Field("homeRTE")


@{
        var media = Model.Content.GetPropertyValue<int>("homeImage");
        var mediaItem = Umbraco.TypedMedia(media);
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="@mediaItem.Url" />
            </div>
            <div class="col">
                <img class="img-fluid" src="@mediaItem.Url" />
            </div>
         </div>
}