<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT distillery ANY>
<!ATTLIST distillery id ID #REQUIRED>
<!ELEMENT branch ANY>
<!ATTLIST branch id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1075" key="0597568c-3f68-439c-8f33-fd2106cf3af9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-16T16:08:28" updateDate="2017-08-17T11:59:58" nodeName="Home" urlName="home" path="-1,1075" isDoc="" nodeType="1072" creatorName="Dibs" writerName="Dibs" writerID="0" template="1073" nodeTypeAlias="home">
    <umbracoSitemapHide>0</umbracoSitemapHide>
    <umbracoNaviHide>0</umbracoNaviHide>
    <homeImage><![CDATA[umb://media/7634aa76313049e3a7d5f547cf1f36c8]]></homeImage>
    <homeRTE><![CDATA[<p><span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>]]></homeRTE>
    <homeTitle><![CDATA[Home Page]]></homeTitle>
    <branch id="1081" key="9af6dfb7-634a-405a-b9aa-5c9562d28a99" parentID="1075" level="2" creatorID="0" sortOrder="0" createDate="2017-08-17T09:30:16" updateDate="2017-08-17T09:36:34" nodeName="Regions" urlName="regions" path="-1,1075,1081" isDoc="" nodeType="1079" creatorName="Dibs" writerName="Dibs" writerID="0" template="1080" nodeTypeAlias="branch">
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <umbracoNaviHide>0</umbracoNaviHide>
      <branchTitle><![CDATA[Regions]]></branchTitle>
      <branchRTE><![CDATA[<p><span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>]]></branchRTE>
      <branch id="1087" key="e79304b5-9605-4dd6-b023-13ad9c747e0d" parentID="1081" level="3" creatorID="0" sortOrder="0" createDate="2017-08-17T09:35:45" updateDate="2017-08-17T09:36:29" nodeName="Highlands" urlName="highlands" path="-1,1075,1081,1087" isDoc="" nodeType="1079" creatorName="Dibs" writerName="Dibs" writerID="0" template="1080" nodeTypeAlias="branch">
        <umbracoSitemapHide>0</umbracoSitemapHide>
        <umbracoNaviHide>0</umbracoNaviHide>
        <branchTitle><![CDATA[Highlands]]></branchTitle>
        <branchRTE><![CDATA[<p><span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>]]></branchRTE>
        <distillery id="1088" key="3eef3c6b-1d42-4d58-a948-8aea6385e9fd" parentID="1087" level="4" creatorID="0" sortOrder="0" createDate="2017-08-17T09:35:59" updateDate="2017-08-17T09:37:26" nodeName="Dalmore" urlName="dalmore" path="-1,1075,1081,1087,1088" isDoc="" nodeType="1085" creatorName="Dibs" writerName="Dibs" writerID="0" template="1086" nodeTypeAlias="distillery">
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <umbracoNaviHide>0</umbracoNaviHide>
          <distilleryTitle><![CDATA[Dalmore]]></distilleryTitle>
          <distilleryRTE><![CDATA[<p><span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>]]></distilleryRTE>
        </distillery>
      </branch>
    </branch>
  </home>
</root>