<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1075" key="0597568c-3f68-439c-8f33-fd2106cf3af9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-16T16:08:28" updateDate="2017-08-16T16:09:48" nodeName="Home" urlName="home" path="-1,1075" isDoc="" nodeType="1072" creatorName="Dibs" writerName="Dibs" writerID="0" template="1073" nodeTypeAlias="home">
    <homeImage><![CDATA[umb://media/7634aa76313049e3a7d5f547cf1f36c8]]></homeImage>
    <homeTitle><![CDATA[Home Page]]></homeTitle>
  </home>
</root>